<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h2><%= title %></h2>

<form action="/cafes/<%= cafe._id %>?_method=PUT" method="POST">
  <h3>Name:<input name="name" type="text" value="<%= cafe.name %>"></h3>
  <h3>Location:<input name="location" type="text" value="<%= cafe.location %>"></h3>
  <h3>Address:<input name="address" type="text" value="<%= cafe.address %>"></h3>
  <h3>Website:<input name="website" type="text" value="<%= cafe.website %>"></h3>
  <button class="deetsBtn" type="submit">save</button>
  <h3><a href="/cafes/<%= cafe._id %>">
    <button class="deetsBtn">Return</button></h3>
    </a>
</form>



<%- include('../partials/footer') %>

