<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Your Cafe List</h1>
<h2>
<a href="/cafes/new">
  <button type="submit">Add Cafe</button>
</a>
</h2>
<% if (cafes.length) { %> 
<% cafes.forEach(cafe => { %>
  <div>
    <h3>Name: <%= cafe.name %> </h3>
    <h3>Location: <%= cafe.location %> </h3>
    <h3><a href="/cafes/<%= cafe._id %>">Details</a></h3>
  </div>
  
  <form action="/cafes/<%= cafe._id %>?_method=DELETE" method="POST">
    <button>Erase</button>
  </form>
  
<% }) %>
<% } else { %> 
  <h2>There is no cafes added to this collection</h2>
<% } %> 

<%- include('../partials/footer') %>